@charset "utf-8";

body{ color:#000000; background:url("bg.jpg") no-repeat fixed center top #cccccc;}
/*链接样式*/
a:link,a:visited{ color:#1A130E; text-decoration:none;}
a:hover{ text-decoration:underline;}

#main{background:#ffffff url(sidebar.png) right repeat-y;}

/*
右侧栏
*/
#sidebar .mod{margin-bottom:10px;}
#sidebar h2{ font-size:14px; color:#ffffff; border-bottom:1px solid #ffffff; padding-bottom:3px; margin-bottom:5px;}

/*
大厅发表框
*/
#twitter,#twitter a:link,#twitter a:visited{color:#2276bb;}
#input{background:#f1f3e8;}
.inputbtn{background:#f1f3e8;border:1px solid #c1cf78;}