@charset "utf-8";

body{ color:#000000; background:url("bg.jpg") no-repeat fixed center top #CCCCCC;}
/*链接样式*/
a:link,a:visited{ color:#124f61; text-decoration:none;}
a:hover{ text-decoration:underline;}


#main{background:#FFF url(sidebar.png) right repeat-y;}


/*
右侧栏
*/
#sidebar .mod{margin-bottom:10px;}
#sidebar h2{ font-size:14px; color:#434343; border-bottom:1px solid #cecece; padding-bottom:3px; margin-bottom:5px;}
