@charset "utf-8";
/* CSS Document */

#footer {
	width:960px;
	margin:0 auto;
	border-bottom: 8px solid #E41448;
	color: #333;
	padding: 20px 0 10px 0;
	text-align: center;
}

#footer p{
	font:#FFF;
}

#footer_bottom {
	padding-bottom:20px;
}