@charset "utf-8";
#container {
	margin:0 auto;
	width:960px;
	position:relative;
	padding-top:15px;
}
#submenu {
	width:100px;
	background: #ddd;
	position:absolute;
	left:0;
	top:0;
}
#content {
	margin:0 160px 0 110px;
	background: #f2f2f2;
}
#sidebar {
	width:150px;
	background: #ddd;
	position:absolute;
	right:0;
	top:0;
}
