@charset utf-8;
/*全局*/
*{ padding:0; margin:0;}
.clear{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-block;}

body{ font-family:Arial, Helvetica, sans-serif,"宋体"; font-size:13px; background:#CCC;}
a:link,a:visited{ color:#2e8ca0; text-decoration:none;}
a:hover{ color:#004080;}
input{padding:3px 5px;}
table{width:100%;}
td,th{padding:2px 5px;}
ul{ list-style:none;}
img{ border:none;}
.textinput{background:#FFF url(input_bg_70.png) repeat-x;}
.desc{ color:#666;}
.avatar img{width:50px; height:50px; background:#FFF; padding:2px; border:1px solid #CCC;}

.fixed-top /* 头部固定 */{position:fixed;bottom:auto;top:50%; left:50%; z-index:10;}
* html .fixed-top /* IE6 头部固定 */{position:absolute;  bottom:auto;top:expression(eval(document.documentElement.scrollTop+200));}

#loading{ background:#FFF; width:200px; margin-left:-100px; margin-top:-25px; height:50px; border:1px solid #ccc; display:block; text-align:center;  }
#loading img{ vertical-align:middle;}
/* 头部*/
#header{ position:relative; width:800px;height:85px;margin:0 auto;color:#FFF; background:url(logoarrow.gif) no-repeat 40px bottom;}
#header .logo{float:left;padding:15px 0 0 10px;margin:0;}
#header .logo img{margin:0;}
.menuk{float:right;background:#FFF; width:400px; margin:20px 0 0 0; padding:0px 10px; color:#999;}
.menu li{float:left;position:relative;}
.menu li a{ display:block; margin-right:8px; padding:7px 0;}
/*.menu li a:link,.menu li a:visited{ color:#FFF;}*/
.menu li dl{position:absolute; left:0; top:24px;width:100px;display:none;}
.menu li dt{padding-bottom:5px; }
.menu li.menu_hover{background:#eaeaea;}
.menu li.menu_hover dl{ z-index:10; display:block; background:#eaeaea; padding:5px 0 0 15px;}
.menu li.menu_hover dl a{ padding:0;}
.nav_account{float:right;padding:7px 0;}
.nav_account a{}
/*主题切换按钮*/
#themechanger{ position:absolute; right:0; bottom:10px;}
#themechanger li{ float:right; margin-left:7px;}
#themechanger a{ border:1px solid #000; text-indent:-9999px; display:block; width:13px; height:13px; overflow:hidden;}
#themechanger .green{ background:#94AA1E;}
#themechanger .blue{ background:#39C5D6;}
#themechanger .gray{ background:#BFBFBF;}
#themechanger .beige{ background:#EBD15C;}
#themechanger .pink{ background:#DC7A49;}
#themechanger .red{ background:#E12A20;}
#themechanger .purple{ background:#8F6594;}
#themechanger .current{ background-image:url(icon_select.gif); background-repeat:no-repeat; background-position:center center;};


/*.nav_account a:link,.nav_account a:visited{color:#666;}
.nav_account a:hover{color:#fff;}*/
.loginName{color:#CDEB8B;font-size:13px;padding-left:10px;padding-right:5px;}
/*中间*/
#container{width:800px;padding:0;margin:0 auto;}

#main{width:800px;padding:0; margin-bottom:10px; float:left;background:#FFF;}

#content{width:570px; overflow:hidden; float:left;background:#FFF; padding:10px;}
#content h2{ font-size:14px; padding:5px 0; margin-bottom:5px; clear:both;}
#sidebar{padding:10px 0px;width:210px; overflow:hidden; float:left; }

/*chat*/
#showmsg { overflow-y:scroll; height:350px;}
#showmsg .my{ color:#ff8000;}
#showmsg .chat_time{ color:#999; font-size:10px; padding-left:10px;}
#showmsg p{line-height:20px;}
/*表格*/
.table { margin-bottom:10px; border-collapse:collapse;}
.table td,.table th{ text-align:center; border:1px #eee solid; padding:5px;}
.table th{ background:#eee; color:#999;}
.table .ta_left{ text-align:left;}
.table .ta_right{ text-align:right;}
/*ul*/
.ul li{ float:left; margin-left:10px; width:60px; text-align:center; overflow:hidden;}

/*回复样式*/
.replybtn{ border:1px solid #d5d6d0; padding:2px; display:block; color:#666;}
.reply_editor textarea{ width:438px; height:80px;}

/*个人微博信息*/
#LUI{padding:10px 0;overflow:hidden;}
#LUI ul{margin:0 auto;overflow:hidden;}
#LUI .pic{float:left;width:130px;}
#LUI .pic img{width:120px;height:120px;padding:2px;border:1px solid #D2D2D2;background:#fff;}
#LUI .detail{float:right;width:430px;}
#LUI .detail h4{line-height:25px;color:#999;}
#LUI .detail .report{text-indent:0;}
#LUI .userName{padding-top:2px;font-family:"MicroSoft YaHei", SimHei;font-size:20px;color:#333;}
#LUI .link{clear:both;font-family:Tahoma, Arial;font-size:12px;line-height:21px;}
#LUI .userNums{height:54px;line-height:33px;}
#LUI .userNums span{margin:0 9px 0 8px;font-size:16px;color:#DEDEDE;}
#LUI .userNums a strong{margin:0 2px;font-size:16px;}
#LUI .funBox{height:27px;line-height:27px;}
#LUI .left{float:left;}
#LUI .right{float:right;}
#topic_list .list{ padding:0 0 5px 0; margin:0px 0 10px 0; border-bottom:1px dashed #ccc;overflow:hidden;}
#topic_list .avatar{ float:left;}
#topic_list .topic_msg{ float:right; width:508px; padding-left:5px;}
#topic_list .topic_msg .content{ line-height:24px; font-size:14px;}
#topic_list .time{ color:#999; float:right;}
#topic_list .reply{background:#f7f8f2; margin:0 50px 0 0;}
#topic_list .reply_list{padding:5px 5px; border:2px solid #fff;}
#topic_list .reply_avatar{ float:left;}
#topic_list .reply_avatar img{width:30px; height:30px; }
#topic_list .replytime{ padding-left:5px; color:#999; }
#topic_list .topic_msg .reply_content{ font-size:13px; margin-left:5px;}
#topic_list .operate{}

.linedot{ background:url(linedot.gif) center repeat-x; padding:0; margin:0;}
/*微博发表框*/
#twitter{display:block;padding:5px;}
#twitter,#twitter a:link,#twitter a:visited{font-size:13px;font-weight:700;color:#2276BB;text-decoration:none;}
label.error{color:red;}
#twitter p{padding:10px 0;}
#input{background:#E7F7F8;padding:5px;}
#inputarea{background:#fff;border:1px solid #ccc;overflow:auto;margin:5px 0;padding:5px;width:538px;height:80px;outline:0;color:#666;border-radius:5px;font-size:18px;}
#options{height:50px;}
#text{float:left;line-height:30px;margin:5px 0;}
#submit{float:right;margin:5px 0;}
/*微博墙*/
#twall { position: relative; height: 600px;}
.tw_item {z-index:0;position: absolute; padding:6px; width: 300px;
filter:alpha(opacity=95);/* IE */ 
opacity: 0.95;/* 支持CSS3的浏览器*/ }
.twitter_on{z-index:999; border:#666 4px solid;}
.tw_item .avatar{ margin-top:-30px; }
.tw_item .msg{margin-left:60px; width: 266px;background: url("msg_bottom.png") left bottom no-repeat;padding-bottom: 38px;}
.tw_item .msg_top{background: url("msg_top.png") no-repeat; padding-top: 11px;}
.tw_item .msg_center{background:url("msg_center.png") repeat-y;padding:0 11px;}
/*Feed*/
.feed .list{ padding:0 0 3px 0px; width:570px; margin-bottom:5px; border-bottom:1px dashed #ccc;}
.feed .avatar{ float:left;}
.feed .name {margin-left: 10px; font-size: 14px;}
.feed .avatar img{width:50px; height:50px; }
.feed .msg{ float:right; width:505px; font-size: 12px; line-height:20px;}
.feed .time{ color:#999; float:right;}
/*列表页*/
.ilist{ padding:0 0 5px 0; margin:5px 0 0 0; border-bottom:#ccc dashed 1px;}
.iavatar{ background:#FFF; float:left; padding:2px; border:1px solid #CCC;}
.iavatar img{width:30px; height:30px; }
.imsg { float:right; padding-left:5px; width:525px;}
.imsg { font-size:13px;}
.imsg .icontent{ font-size:14px; margin-bottom:5px;}
.ilist .desc{ color:#666;}
.imsg .money{ color:#ff8000;}
.iname{ color:#999; float:right;}
.ioperate{text-align:right; color:#ccc;}

/*添加表单样式*/
.form p{ margin-bottom:8px;}
.form p .textarea{ width:490px; height:150px; vertical-align:top;}
.form p label{ color:#444;}
.form .w_small{width:100px;}
.form .w_middle{width:200px;}
.form .w_long{width:480px;}
.form .h_middle{height:100px;}
.form .h_long{height:200px;}
.form .m_min{margin-left:10px;}
.form .m_small{margin-left:70px;}
/*投票*/
#voteitem label{ width:70px; color:#444; display:inline-block;}
#voteitem div{ margin-bottom:5px;}
.voteul{ background:#eee; padding:10px 10px 5px 10px; margin:10px 0;}
.voteul li { padding-bottom:5px;}
.voteul li span{ float:right;}
.vote p{ margin-bottom:5px;}
.vote .desc{ color:#666;}
/*交换*/
.goods p{ padding-bottom:5px;}
.goods .desc{ color:#666;}
/*学校*/
.school .school_pic{ float:right;}
.school .school_pic img{ width:150px; height:150px;}
/*班级*/
.class_msg_list { border:1px solid #ccc; }
.class_msg_list .class_msg{border-bottom:1px solid #ccc;padding:5px;}
.class_msg_list .class_msg .avatar{ float:left;}
.class_msg_list .class_msg .avatar img{ width:50px; height:50px;}
.class_msg_list .class_msg .msg{ float:right; width:480px;}
.class_msg_list .class_msg .reply{ background:#f7f8f2; margin:0 20px 0 20px;}
.class_msg_list .class_msg .reply p{ margin-bottom:5px; border-bottom:2px solid #fff; padding:5px;}
.class_msg_list .class_msg .operate{ float:right; text-align:right;}
.class_reply textarea{width:566px;}
/*问答*/
.issue_question{ background:#eee; padding:5px; margin-bottom:10px;}
.issue_question .q_user{ float:right;}
.issue_question .time,.issue_otherans .time,.issue_best .time{ color:#666;}
.issue_question .content{ font-size:14px; margin:10px 5px; line-height:25px;}
.issue_question .money{ color:#e97516;}

.issue_otherans { background:#dff3be; padding:5px; margin-bottom:10px;}
.issue_otherans .list{ border-bottom:1px dashed #ccc; padding:5px 0; width:560px;}
.issue_otherans .list p{ font-size:14px; line-height:25px;}
.issue_otherans .avatar { float:left; padding:0 5px 5px 5px;}
.issue_otherans .avatar img{ width:40px; height:40px;}
.issue_otherans .time{ float:right;}
.issue_best{ background:#fef9d3; padding:5px; margin-bottom:10px;}
/*内页导航链接*/
.nav li{ float:left; }
/*分页*/
#pagecount{float:right;}
#pagecount p{float:left;line-height:21px;padding-right:5px;font-size:13px;font-weight:700;color:#295568;}
#pagecount a{background:transparent url(btn_page_r.gif) no-repeat scroll top right;color:#295568;float:left;display:block;height:21px;margin-right:6px;padding-right:5px;/* sliding doors padding */text-decoration:none;font-size:13px;}
#pagecount span{background:transparent url(btn_page_l.gif) no-repeat;display:block;line-height:14px;padding:5px 0 5px 5px;}
/*侧栏*/
/*.mod {clear:both;}
.mod li{ float:left;white-space:nowrap;}
.mod a{display:block; padding:0 10px 0 0;}
.mod a:link,.mod a:visited{color:#f9f4b9;}
*/
.mod { padding:0 10px 10px 10px; }
.mod h2{ clear:both;}

.search #keyword{ width:130px;}
.search #searchbtn{ width:40px;}
.userDetail .avatar img{
background:none repeat scroll 0 0 #FFFFFF;
border:1px solid #CCCCCC;
height:100px;
padding:2px;
width:100px;
}
.userDetail .avatar{ float:left;}
.userDetail .myinfo{
float:left;
margin:20px 0 0 10px;
}
.userDetail .myinfo dt{ margin-top:5px;}
.userDetail .myinfo dd{
font-family:georgia;
font-size:20px;
}
.userDetail .myotherinfo{
	clear:both;
}
.userDetail .myotherinfo p{ margin-bottom:5px;}
/*侧栏头像列表*/
.mod .imglist {
	width:190px;
}
.imglist li{
 float:left; width:56px;
 height:80px;
 text-align:center;
 overflow:hidden;
 margin-right:7px;
}
.imglist li a { white-space:nowrap;}
.imglist li img{ width:50px; height:50px; padding:2px; border:1px solid #d2d2d2; background:#fff;}

/*好友头像列表*/
.friendlist {
	width:600px;
}
.friendlist li{
 float:left; width:130px;
 height:60px;
 text-align:left;
 overflow:hidden;
 margin-right:0px;
}
.friendlist .avatar{ float: left;}
.friendlist .info{ float: left; margin-left: 4px;}
.mfriend .list{width: 570px;padding:0 0 3px 0px; margin-bottom:5px; border-bottom:1px dashed #ccc;}
.mfriend .avatar{ float: left; margin-right: 10px;}
.mfriend .minavatar{ float:right;}
.mfriend .minavatar img{width:30px; height:30px;}
/*底部*/
#footer{width:790px; background:#ffffff; clear:both; margin:10px auto; padding:5px; text-align:center;}
#footer p{font:#FFF;}

/* 无图片按钮样式  */
.buttons{margin-bottom:10px;height:30px;}
.buttons a,.buttons button{display:block;float:left;margin:0 7px 0 0;background-color:#f5f5f5;border:1px solid #dedede;border-top:1px solid #eee;border-left:1px solid #eee;font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;font-size:12px;line-height:130%;text-decoration:none;font-weight:700;color:#565656;cursor:pointer;padding:5px 10px 6px 7px;/* Links */}
.buttons button{width:auto;overflow:visible;padding:4px 10px 3px 7px;/* IE6 */}
.buttons button[type]{padding:5px 10px 5px 7px;/* Firefox */line-height:17px;/* Safari */}
:first-child+html button[type]{padding:4px 10px 3px 7px;/* IE7 */}
.buttons button img,.buttons a img{margin:0 3px -3px 0!important;padding:0;border:none;width:16px;height:16px;}
/* STANDARD */.buttons button:hover,.buttons a:hover{background-color:#dff4ff;border:1px solid #c2e1ef;color:#369;}
.buttons a:active{background-color:#6299c5;border:1px solid #6299c5;color:#fff;}
/* POSITIVE */.buttons button.positive,.buttons a.positive{color:#529214;}
.buttons a.positive:hover,button.positive:hover{background-color:#E6EFC2;border:1px solid #C6D880;color:#529214;}
.buttons a.positive:active{background-color:#529214;border:1px solid #529214;color:#fff;}
/* NEGATIVE */.buttons a.negative,button.negative{color:#d12f19;}
.buttons a.negative:hover,button.negative:hover{background:#fbe3e4;border:1px solid #fbc2c4;color:#d12f19;}
.buttons a.negative:active{background-color:#d12f19;border:1px solid #d12f19;color:#fff;}
/* REGULAR */.buttons button.regular,.buttons a.regular{color:#369;}
.buttons a.regular:hover,button.regular:hover{background-color:#dff4ff;border:1px solid #c2e1ef;color:#369;}
.buttons a.regular:active{background-color:#6299c5;border:1px solid #6299c5;color:#fff;}
.buttons a.center{text-align:center;}
.buttons a.long{width:550px;}

/*有图片按钮样式*/
.btn { display: block; position: relative; background: #aaa; padding: 5px; float: left;font-weight:bold; color: #fff; text-decoration: none; cursor: pointer; }
.btn * { font-style: normal; background-image: url(./btn/btn2.png); background-repeat: no-repeat; display: block; position: relative; }

.btn.blue { background: #2ae; }
.btn.green { background: #9d4; }
.btn.pink { background: #e1a; }
.btn:hover { background-color: #a00; color:#fff;}
.btn:active { background-color: #444; }
.btn[class] {  background-image: url(./btn/shade.png); background-position: bottom; }

.btn { border: 3px double #aaa; }
.btn.blue { border-color: #2ae; }
.btn.green { border-color: #9d4; }
.btn.pink { border-color: #e1a; }
.btn.big {padding:5px 10px;}
.btn:hover { border-color: #a00;}


/*ajaxupload*/
.button{background:#ccc;width:100px;height:30px;font-size:14px;color:#fff;padding-top:10px;text-align:center;}

/*匿名聊天*/
.chat .msg{ width:400px;}
