@charset "utf-8";
/* CSS Document */
#login-main{
	height:720px;
	width:800px;
	padding:100px;
}
#mbox {
	width: 800px;
	position: relative;
	margin: 0 0 10px;
	overflow: hidden;
}
#logintitle {
	padding: 0 5px;
	padding-left:15px;
	height: 32px;
	line-height: 32px;
	color: #333;
	font-weight:bold;
}
#avatar{
	height:80px;
	width:80px;
	border: 1px solid #838383;
	margin-top:-80px;
	margin-left:170px;
}
#loginbox {
	float:right;
	width:280px;
	background: #fff;
	border: 1px solid #838383;
}
#loginbox form {
	padding: 15px;
	height: 145px;
}
#loginbox .row {
	padding: 6px 0;
	line-height:20px;
}
#loginbox .submitrow {
	padding: 0 5px;
	margin-top:10px;
	line-height: 26px;
}
#loginbox .t_input {
	border: 1px solid #838383;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	padding: 4px;
	margin-right: 5px;
	width: 175px;
	height: 20px;
}
.submit {
	padding: 0 5px;
	height: 24px;
	border: none;
	background: #E41448;
	color: #FFF;
	line-height: 20px;
	letter-spacing: 1px;
	cursor: pointer;
}

